*{
    margin: 0;
    padding: 0;
    font-family: Poppins;
}

.div-header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff9f1;
}

.header-text{
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 468px;
}

#img-logowd{
    width: 208px;
}

#img-mesdonutri{
    width: 335px;
}

.p-red{
    color: #a31849;
    font-size: 28px;
    font-weight: bold;
    line-height: 40px;
    margin-bottom: 20px;
}

.p2-black{
    font-size: 16px;
}

.header-img{
    width: 450px;
}

#img-model{
    width: 100%;
}

.faixa{
    background-color: #a31849;
    width: 100%px;
    position: relative;
    height: 300px;
    padding: 80px;
}

.desbloqhead{
    background-color: #f5542f;
    color: #fff9f1;
    padding: 14px 34px;
    border-radius: 20px;
    width: fit-content;
    margin: auto;
    font-size: 30px;
    margin-top: -60px;
}

.faixacont{
    margin: auto;
    padding: 20px;
    width: 650px ;
    border: 1px solid #FFF;
    border-radius: 20px;
    position: relative;
    margin-top: 60px;    
}

#desbloqtext{
    display: flex;
    color: #fff9f1;
    justify-content: center;
    margin-top: 20px;
    font-size: 29px;
    text-align: center;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
    
}

.quadrados{
    display: flex;
    max-width: 1200px;
    gap: 20px;
}

.titulos{
    font-size: 26px;
    color: #FFF9F1;
}

.paragrafos{
    font-size: 20px;
    color: #FFF9F1;
    margin-top: 24px;
}

#orange{
    background-color: #f5542f;
    border-radius: 14px;
    padding: 30px;
    margin-bottom: 30px;
}

#red{
    background-color: #a31849;
    padding: 30px;
    border-radius: 14px;
}

.orange-red{
    width: 33%;
}

#blue2{
    width: 33%;
    border-radius: 14px;
    /* padding: 30px;  */
    background-color: #b7c9fb;
    position: relative;
    
}

#blue2 img{
    width: 100%;
    position: absolute;
    bottom: -32px;
}

#blue{
    width: 33%;
    background-color: #3d569A;
    border-radius: 14px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: left;
}

#blue img{
    width: 100%;
    /* position: absolute; */
}